{% extends 'base.html' %}
{% block content %}

<div class="card-group">
    {% for movie in movie_list %}
        <div class="card">
          <img src="{{ movie.poster.url }}" class="card-img-top" style="height: 200px;">
          <div class="card-body">
            <h2 class="card-title"><a href="{% url 'movie:movie_detail' movie.url %}">{{movie.name}}</a></h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="card-footer">Tag</div>
          </div>
        </div>
    {% endfor %}
</div>

{% include 'include/pagination.html' %}

{% endblock content %}